*{
  margin: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  font-family: 'IM Fell DW Pica', serif;
}

.container{
  display: flex;
  margin: 0;
  height: 100%;
  max-width: 1440px;
  box-sizing: border-box;
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { ... }
/* 
 Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

 /* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { ... }

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { ... }

